# Exclude unnecessary files and directories from the final image
.git
node_modules
*.log
*.tmp
*.temp
*.swp
*.out
*.class
*.dll
*.exe
*.pdb
*.jar
*.war
*.ear
*.egg
*.egg-info
*.pyc
*.pyo
*.cache
*.log
*.sublime-workspace
*.suo
.DS_Store
Thumbs.db
desktop.ini
.vscode
.idea
package-lock.json
yarn.lock
Gemfile.lock
composer.lock
pipfile.lock
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
